@import url(https://db.onlinewebfonts.com/c/0776698c4cd74fb861f054961efe0c03?family=LomoWebPixel+LT+Std+5);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background-color: #FF5858;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.swal2-popup {
    font-size: 1.6rem !important;
    font-family: "LomoWebPixel LT Std 5";
    background-color: #242424;
    color: #FF5858;
}

.swal2-styled {
    background-color: #FF5858 !important;
}

.prose :where(strong, h3, h2, h1, h4, span):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: #FF5858 !important;
    font-weight: bold;
}

.ql-clipboard,
.ql-tooltip-editor {
    display: none;
}

.swal2-confirm {
    background-color: #00a96e !important;
}
.MuiDivider-root{
    border: 0.1px solid #4d2a2a !important;

}
.tremor-Tab-root:focus{
    color: #FF5858 !important;
    border-bottom: 2px solid #FF5858 !important;
}

.tremor-Tab-root:hover{
    color: #FF5858 !important;
    border-bottom: 2px solid #FF5858 !important;
}
.tremor-Tab-root::after{
    color: #FF5858 !important;
    border-bottom: 2px solid #FF5858 !important;
}

.ui-selected\:text-tremor-brand[data-headlessui-state~="selected"] {
    color: #FF5858 !important;
    border-bottom: 2px solid #FF5858 !important;
}

.quill{
    border-radius: 20px !important;
}

.ql-container{
    @apply min-h-[20rem];
}

.ql-editor p{
    @apply text-PrimaryColors;
}

.ql-toolbar{
    @apply bg-PrimaryColors;
}
.heroError{
    color: #eee;
}
table,
.divTable {
    width: fit-content;
}

.tr {
    display: flex;
}

tr,
.tr {
    width: fit-content;
    height: 30px;
}

th{
    border: 1px solid #FF5858 ;
}

th,
.th,
td,
.td {
    padding: 1rem;
}
tr:hover{
    cursor: pointer;
    @apply bg-[#181818];
}

th,
.th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
}


.resizer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    @apply bg-InactivePrimary;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
}

.resizer.ltr {
    right: 0;
}

.resizer.rtl {
    left: 0;
}

.resizer.isResizing {
    @apply bg-PrimaryColors;
    opacity: 1;
}

@media (hover: hover) {
    .resizer {
        opacity: 0;
    }

    *:hover>.resizer {
        opacity: 1;
    }
}

input[type="checkbox"]::before{
    background-color: #242424;
}

.modifier{
    @apply hover:bg-[transparent] border px-[1rem] py-[.35rem] rounded-[5px] text-lg
}